@model DATA.model.Category
@{
    ViewBag.Title = "编辑";
}

<h2>编辑</h2>

@using (Html.BeginForm("Edit", "Category", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <h4>&nbsp;&nbsp;&nbsp;分类信息</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("序号", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.category_num, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.category_num, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("类别名称(必填)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.category_name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.category_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("描述", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.describ, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.describ, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("顺序", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.order_index, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.order_index, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("图片", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @{
                    var image = string.Format("data:image/jpeg;base64,{0}", Model.images);
                }
                <div style="width:280px;height:70px;border:1px solid #CCCCCC">
                    @if (image.Length > "data:image/jpeg;base64,".Length)
                    {
                        <img id="Images" width="90" height="70" src="@image" alt="图片" style="border:0px" />
                    }
                    else
                    {
                        <img id="Images" width="280" height="70" alt="图片" style="border:0px" />
                    }
                </div>
                @Html.EditorFor(model => model.images, new { htmlAttributes = new { type = "file", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.images, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
        <br />
        <div class="form-group">
            <div>
                <input type="submit" value="保存" class="btn btn-default" />
            </div>
        </div>
                    }
<div>
    @Html.ActionLink("返回", "Index")
</div>
<script>

    document.getElementById("images").onchange = function () {
        var reader = new FileReader();
        reader.onload = function (e) {
            document.getElementById("Images").width = 90;
            document.getElementById("Images").height = 70;
            document.getElementById("Images").src = e.target.result;
        };
        reader.readAsDataURL(this.files[0]);
    };
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
