@model IEnumerable<DATA.model.Tab_Department>
@{
    ViewBag.Title = "部门信息";
}

<h2>部门信息</h2>
@using (Html.BeginForm())
{
    <br />
    @Html.TextBox("DepartmentName", "", new { style = "width:280px;", placeholder = "部门名" })
    <button id="btn_Search" name="btn_Search" type="submit" class="btn  btn-sm" style="background-color:#2DAAF8;color:white">
        <i class="glyphicon glyphicon-search"></i> 搜索
    </button>
    <button id="btn_Add" name="btn_Add" type="button" class="btn  btn-sm" style="background-color:#9A7EFF;color:white" onclick="location.href='@Url.Action("Create", "Department")'">
        <i class="glyphicon glyphicon-plus"></i> 添加
    </button>
    <button id="btn_Delete" name="btn_Delete" type="submit" class="btn  btn-sm" style="background-color:#FFB71F;color:white">
        <i class="glyphicon glyphicon-remove"></i> 删除
    </button>
    <button id="btn_DownLoad" name="btn_DownLoad" type="button" class="btn  btn-sm" style="background-color:#11B544;color:white">
        <i class="glyphicon glyphicon-download-alt"></i> 下载
    </button>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th style="white-space:nowrap">
                    <input type="checkbox" id="checkedAll" name="checkedAll" />全选
                </th>
                <th style="white-space:nowrap">
                    操作
                </th>
                <th style="white-space:nowrap">
                    @Html.DisplayName("序号")
                </th>
                <th style="white-space:nowrap">
                    @Html.DisplayName("部门名")
                </th>
                <th style="white-space:nowrap">
                    @Html.DisplayName("备注")
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr id="Row-@item._id">
                    <td style="white-space:nowrap">
                        <input type="checkbox" id="checkedId" name="checkedId" value="@item._id" />
                    </td>
                    <td style="white-space:nowrap">
                        @Html.ActionLink("编辑", "Edit", new { id = item._id }) |
                        @Html.ActionLink("删除", "Delete", new { id = item._id })
                    </td>
                    <td style="white-space:nowrap">
                        @Html.DisplayFor(modelItem => item.department_num)
                    </td>
                    <td style="white-space:nowrap">
                        @Html.DisplayFor(modelItem => item.department_name)
                    </td>
                    <td style="white-space:nowrap">
                        @Html.DisplayFor(modelItem => item.remark)
                    </td>
                </tr>
            }
        </table>
    </div>
}
<div id="dialog" style="overflow: hidden;" />
<script src="~/Scripts/jquery-ui.js"></script>
<script type="text/JavaScript">
    //对话框
    $('#dialog').dialog({
        autoOpen: false,
        width: 500,
        resizable: false,
        title: '选择称',
        modal: true,
        open: function (event, ui) {
            $(this).load('@Url.Action("Scale", "Department")');
        }
    });
    //表头CheckBox操作全选或取消全选
    $("#checkedAll").click(function () {
        var ischecked = this.checked;
        $("input:checkbox[name='checkedId']").each(function () {
            this.checked = ischecked;
        });
    });
    $("#btn_Delete").click(function () {
        //确定至少选择一项
        if ($("[type='checkbox']:checked").length == 0) {
            alert("请选择一项删除！");
        }
            //批量删除
        else if (confirm("您确定要删除选择的记录吗？")) {
            var ids="";
            $("[type='checkbox']:checked").each(function () {
                var id = $(this).attr("value");
                if (id != null) {
                    ids+=id+",";
                }
            });
            ids= ids.substr(0,ids.length-1);
            if (ids!=null) {
                $.ajax({
                    url: "/Department/Delete/" + ids,
                    async: false,
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded",
                    //调用出错执行的函数
                    error: function () {
                        alert("删除失败！");
                    }
                });
            }
        }
    });
    $("#btn_DownLoad").click(function () {
        //确定至少选择一项
        if ($("[type='checkbox']:checked").length == 0) {
            alert("请选择一项下载！");
        }
            //下载到称
        else {
            var ids = "";
            $("[type='checkbox']:checked").each(function () {
                var id = $(this).attr("value");
                if (id != null) {
                    ids += id + ",";
                }
            });
            ids = ids.substr(0, ids.length - 1);
            if (ids != null) {
                $('#dialog').data("Id", ids).dialog('open');
            }
        }
    });
</script>