@model DATA.model.Scales
@{
    ViewBag.Title = "编辑";
}
<h2>编辑</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    var Enable = new List<SelectListItem>()
    {
        new SelectListItem() { Text = "True", Value = "True" },
        new SelectListItem() { Text = "False", Value = "False" },
    };

    <div class="row">
        <h4>&nbsp;&nbsp;&nbsp;设备</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.Label("店号", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Shop_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Shop_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("部门", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Branch_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Branch_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("称号", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Pos_No, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pos_No, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("称名", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ScaleName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ScaleName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ip地址", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.IpAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IpAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("启用", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model=>model.Enable,Enable,"--请选择--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Enable, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("屏幕保护", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Images, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Images, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("主背景图片", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Images1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Images1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("主屏背景颜色", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Color, new { type = "Color",value= "#FFFFFF", @class= "form-control" })
                @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("颜色透明度", htmlAttributes: new { id = "value", @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { type = "range", min = "0", max = "255", value = "255", step = "1", onchange = "change()", @class = "form-control" } })
                @Html.ValidationMessage("Remark", "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <br />

    <div class="form-group">
        <div>
            <input type="submit" value="保存" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回", "Index")
</div>
<script>
    $(function () {
        document.getElementById('value').innerHTML = "颜色透明度 (" + document.getElementById('Remark').value + ")";
    });
    function change() {
        document.getElementById('value').innerHTML = "颜色透明度 (" + document.getElementById('Remark').value+")";
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
