@model DATA.model.Tab_Tax
@{
    ViewBag.Title = "编辑";
}

<h2>编辑</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <h4>&nbsp;&nbsp;&nbsp;税率信息</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model._id)

        <div class="form-group">
            @Html.Label("序号", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.tax_num, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.tax_num, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("税率名(必填)", htmlAttributes: new { @class = "control-label col-md-2" })
             <div class="col-md-4">
                @Html.EditorFor(model => model.tax_name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.tax_name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("税率值(%)", htmlAttributes: new { @class = "control-label col-md-2" })
             <div class="col-md-4">
                @Html.EditorFor(model => model.tax_value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tax_value, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <div>
            <input type="submit" value="保存" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}