@model DATA.model.Tab_User
@{
    ViewBag.Title = "新建";
}

<h2>新建</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    var Permission = new List<SelectListItem>()
    {
        new SelectListItem() { Text = "操作员", Value = "0",Selected=true },
        new SelectListItem() { Text = "管理员", Value = "1" },
    };
    <div class="row">
        <h4>&nbsp;&nbsp;&nbsp;操作员信息</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        <div class="form-group">
            @Html.Label("序号", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <input id="user_num" type="text" name="user_num" required class="form-control" value="@ViewBag.Message"/>
                @Html.ValidationMessageFor(model => model.user_num, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("用户名(必填)", htmlAttributes: new { @class = "control-label col-md-2" })
             <div class="col-md-4">
                <input id="user_name" type="text" name="user_name" required class="form-control">
                @Html.EditorFor(model => model.user_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.user_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("密码(必填)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <input id="user_password" type="password" name="user_password" required class="form-control">
                 @Html.ValidationMessageFor(model => model.user_password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("权限", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("user_permission", Permission, "--请选择--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.user_permission, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("电话", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("地址", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div>
                <input type="submit" value="新建" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
