@model DATA.model.Tab_User
@{
    ViewBag.Title = "删除";
}

<h2>删除</h2>

<h3>您确定要删除吗?</h3>
<div>
    <h4>操作员信息</h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayName("序号")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_num)
        </dd>

        <dt>
            @Html.DisplayName("用户名")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_name)
        </dd>

        <dt>
            @Html.DisplayName("权限")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_permission)
        </dd>

        <dt>
            @Html.DisplayName("电话")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayName("地址")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回", "Index")
        </div>
    }
</div>
